<div class="list-header"><h2>Camera's</h2></div>
<ul class="camera-list col-md-12" *ngIf="scriptData">
    <li class="main-camera-list-item col-md-12">
        <!--<figure class="main-camera-figure">
            <img src="/api/camera/image" alt="Main Cam" width="100%" height="auto">
        </figure>-->
        <div style="height: 250px"></div>
        <video
                autoplay
                loop
                height="auto"
                muted
                *ngFor="#number of [1,2,3,4,5,6,7]"
                [class.main]="number == scriptData.actionIndex % 7 + 1"
                [class.next]="number != scriptData.actionIndex % 7 + 1"
        >
            <source [src]='"assets/videos/shot"+ number + ".mp4"'>
            HTML5 werkt niet in je huidige browser. Probeer Google Chrome.
        </video>
        <audio autoplay hidden>
            <source src="assets/audio/fantasie-ouverture.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </li><!--
    <li class="camera-list-item col-md-6" *ngFor="#preset of presets">
        <figure class="camera-figure">
            <img src="https://i.ytimg.com/vi/LTVReClcI6g/maxresdefault.jpg" alt="{{preset.name}}" width="100%" height="auto">
        </figure>
    </li>-->
</ul>