<div class="connection-lost" *ngIf="errorMessage"><h3>{{ errorMessage }}</h3></div>
<div class="container-fluid">
    <div class="col-md-4">
        <action-list [scriptData]="currentScript" [socket]="socket"></action-list>
    </div>
    <div class="col-md-4">
        <preset-list [scriptData]="currentScript"></preset-list>
    </div>
    <div class="col-md-4">
        <camera-list></camera-list>
    </div>
    <!--<div class="col-md-12">
        <script-list></script-list>
    </div>-->
</div> <!-- /container -->
<div id="dock-container">
    <div id="dock-top">
        <div *ngIf="currentScript">
            <button md-raised-button (click)="nextAction()">Next</button>
        </div>
        <div *ngIf="!currentScript">
            <button (click)="startScript(1)">Start</button>
        </div>
        <p *ngIf="currentScript">Current time {{ currentScript.runningTime }}</p>
    </div>
    <div id="dock" class="container-fluid">

    </div>
</div>