<div class="connection-lost" *ngIf="errorMessage"><h3>{{ errorMessage }}</h3></div>
<div class="no-activescript" *ngIf="!currentScript">
    <div class="no-activescript-inner">
        <i id="icon" class="material-icons">error</i>
        <h1>There is no active script at this time</h1>
        <p>
            <a href="/">Activate</a> a script or wait until one becomes active.
        </p>
    </div>
</div>
<div class="container-fluid screen-height">
    <div class="col-md-4 screen-height">
        <action-list [scriptData]="currentScript" [socket]="socket"></action-list>
    </div>
    <div class="col-md-8">
        <preset-list [scriptData]="currentScript"></preset-list>
    </div>
    <!--<div class="col-md-12">
        <script-list></script-list>
    </div>-->
</div> <!-- /container -->
<div id="dock-container">
    <div id="dock-top">
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <button *ngIf="currentScript" md-button class="md-icon-button" aria-label="Back" (click)="advance(-1)">
                <i class="material-icons">fast_rewind</i>
            </button>
            <button *ngIf="currentScript" md-button class="md-icon-button" aria-label="Pause" (click)="advance(1)">
                <i class="material-icons">skip_next</i>
            </button>
            <button *ngIf="!currentScript" md-button class="md-icon-button" aria-label="Play">
                <i class="material-icons">play_arrow</i>
            </button>
            <button *ngIf="currentScript" md-button class="md-icon-button" aria-label="Forward">
                <i class="material-icons">fast_forward</i>
            </button>
        </section>
        <!--
        <div *ngIf="currentScript">
            <button md-raised-button class="md-icon-button" (click)="advance(-1)"><i class="material-icons">face</i></button>
        </div>
        <div *ngIf="currentScript">
            <button md-raised-button (click)="advance(0)">P/P</button>
        </div>
        <div *ngIf="currentScript">
            <button md-raised-button (click)="advance(1)">Next</button>
        </div>
        <div *ngIf="!currentScript">
            <button md-raised-button (click)="startScript(1)">Start</button>
        </div>-->
    </div>
    <div id="dock" class="container-fluid">
        <timeline [scriptData]="currentScript" [socket]="socket"></timeline>
    </div>
</div>