<div class="container screen-height">

    <div class="row" *ngIf="location.id == 0">
        <div class="text-area input-area form-inline">
            <label class="text-area-header">Location name: </label><input class="form-control description pull-right" [(ngModel)]="location.name" placeholder="Kurhaus"><br>
            <button class="btn btn-primary" data-toggle="modal" (click)="addLocation()">
                Add location
            </button>
        </div>
    </div>
    <div class="row" *ngIf="location.id != 0">
        <div class="col-md-6 col-md-offset-3">
            <div class="list-header">
                <div class="nopadding">
                    <input class="form-control" *ngIf="location" [(ngModel)]="location.name" (change)="hasChanges = true" placeholder="name">
                </div>
                <small *ngIf="hasChanges == true"><i>You have unsaved changes</i></small>
            </div>
            <div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#actionModal">
                    Add camera
                </button>
                <button *ngIf="hasChanges == true" class="btn btn-success" data-toggle="modal" (click)="save()">
                    Save
                </button>
            </div>
            <ul class="editable-list list-group" id="cameras-list" *ngIf="location">
                <li class="editable-list-item list-group-item" *ngFor="#camera of location.cameras; #i = index">
                    <h3><i class="material-icons">videocam</i>{{ camera.name }}<button class="btn btn-danger pull-right" (click)="removeCamera(i)">Delete</button></h3>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" id="action-new-camera">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add a new camera</h4>
            </div>
            <div class="modal-body">
                <div class="text-area input-area form-inline">
                    <label class="text-area-header">Camera name: </label><input class="form-control description pull-right" [(ngModel)]="newCamera.name" placeholder="One"><br>
                    <label class="text-area-header">IP address: </label><input class="form-control description pull-right" [(ngModel)]="newCamera.ip" placeholder="192.168.10.101"><br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cleanUpModal()">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cleanUpModal()">Check</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addAction()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->