<div class="container">
    <div class="col-md-6">
        <h2>Script List <a class="btn btn-info" href="/edit">Add script</a></h2>
        <p><i>Pick a script from the list</i></p>

        <div class="list-group script-list">
            <div *ngFor="#script of scripts;" class="col-md-12 list-group-item" [class.active]="activeScript && activeScript.script && script.id == activeScript.script.id">
                <div class="col-md-4">
                    {{ script.id }}
                </div>
                <div class="col-md-4">
                    {{ script.name }}
                </div>
                <div class="col-md-4 pull-right">
                    <a *ngIf="!activeScript || script.id != activeScript.script.id" aria-label="Edit" href="/edit/{{ script.id }}">
                        <i class="material-icons">mode_edit</i>
                    </a>
                    <a *ngIf="!activeScript" [title]="getStatusMessage(script)" aria-label="Play" (click)="makeActive(script)">
                        <i class="material-icons" [class.disabled]="!isPlayable(script)">play_arrow</i>
                    </a>
                    <a *ngIf="activeScript && script.id == activeScript.script.id" aria-label="Deactivate" (click)="deactivateScript()">
                        <i class="material-icons">stop</i>
                    </a>
                    <a *ngIf="activeScript && script.id == activeScript.script.id" aria-label="View" href="/director">
                        <i class="material-icons">visibility</i>
                    </a>
                    <a *ngIf="!activeScript || script.id != activeScript.script.id" aria-label="Link" [href]="'/link/' + script.id">
                        <i class="material-icons">timeline</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Location list <a class="btn btn-info" (click)="addLocation()">Add location</a></h2>
        <p><i>Choose a location from the list or add a new one</i></p>
        <div class="list-group script-list">
            <div *ngFor="#location of locations" class="list-group-item row">
                <div class="col-md-4">
                    {{ location.name }}
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <a aria-label="Edit" href="/locations/{{ location.id }}">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>