.list-header {
  min-height: 50px;
}
  .list-header h2 {
    line-height: 50px;
    padding: 6px;
  }

.action-list {
  margin-top: 8px;
}
  .action-list-item {
    padding-left: 5px;
    min-height: 88px;
    border: 1px solid #efefef;
    background-color: #ffffff;
  }
  .action-list-item .active {
    background-color: #fafafa;
  }
    .action-list-item .text-area {
      font-family: Open Sans;
      padding: 16px 16px 20px 16px;
    }
      .action-list-item .text-area h1 {
        font-size: 110%;
        color: #000000;
        opacity: .87;
        line-height: 28px;
      }
      .action-list-item .text-area span {
         font-size: 100%;
         color: #000000;
         opacity: .54;
       }

$caption-height: 48px;
$grid-padding: 4px;
.preset-list {
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgb(0, 153, 0);
  padding-top: 8px;
  box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.2);
}
  .preset-list-item {
    padding-left: $grid-padding !important;
    padding-right: $grid-padding !important;
  }
    .preset-list-item .preset-figure {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 200px;
      margin-bottom: 2 * $grid-padding;
    }
      .preset-list-item .preset-figure img {
        position: absolute;
        margin: auto;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
      }
    .preset-list-item figcaption {
      position: absolute;
      top: 0;
      width: 100%;
      height: $caption-height;
      margin-bottom: -$caption-height;
      z-index: 1;
    }
    .preset-list-item figcaption::before {
      content:"";
      position: absolute;
      top:0;
      left: 0;
      right: 2 * $grid-padding;
      height: $caption-height;
      background-color: rgba(0,0,0,0.4);
    }
      .preset-list-item figcaption h1 {
        font-size: 100%;
        color: #ffffff;
        opacity: .87;
        line-height: $caption-height;
        padding: 0 16px;
      }

.camera-list {
  padding-left: 0;
  padding-right: 0;
  background-color: rgb(0,153,0);
  box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.2);
}
  .camera-list .main-camera-list-item {
    padding-left: 0;
    padding-right: 0;
  }
  .camera-list .camera-list-item {
    padding-left: 2 * $grid-padding;
    padding-right: 2 * $grid-padding;
  }
    .camera-list .camera-list-item .camera-figure {
      padding-bottom: 2 * $grid-padding;
      margin: 0;
    }
    .camera-list .main-camera-list-item .main-camera-figure {
      width: 100%;
      border: 3px solid red;
    }