.list-header {
  min-height: 50px;
}
  .list-header h2 {
    line-height: 50px;
    padding: 6px;
  }

.action-list {
  margin-top: 8px;
}
  .action-list-item {
    padding-left: 5px;
    min-height: 88px;
    border: 1px solid #efefef;
    background-color: #ffffff;
  }
  .action-list-item .active {
    background-color: #fafafa;
  }
    .action-list-item .text-area {
      font-family: Open Sans;
      padding: 16px 16px 20px 16px;
    }
      .action-list-item .text-area h1 {
        font-size: 110%;
        color: #000000;
        opacity: .87;
        line-height: 28px;
      }
      .action-list-item .text-area span {
         font-size: 100%;
         color: #000000;
         opacity: .54;
       }

$caption-height: 48px;
$grid-padding: 4px;
.preset-list {

}
  .preset-list-item {
    padding-left: $grid-padding !important;
    padding-right: $grid-padding !important;
  }
    .preset-list-item .preset-figure {
      display: flex;
      justify-content: center;
      width: 100%;
      overflow: hidden;
    }
      .preset-list-item .preset-figure img {
        flex:none;
      }
    .preset-list-item figcaption {
      width: 100%;
      height: $caption-height;
      margin-bottom: -$caption-height;
    }
    .preset-list-item figcaption::before {
      content:"";
      position: absolute;
      top:0;
      left: $grid-padding;
      right: $grid-padding;
      height: $caption-height;
      background-color: rgba(0,0,0,0.4);
    }
      .preset-list-item figcaption h1 {
        font-size: 100%;
        color: #ffffff;
        opacity: .87;
        line-height: $caption-height;
        padding: 0 16px;
      }