.list-header {
  min-height: 50px;

  h2 {
    line-height: 50px;
    padding: 6px;
  }
}

.action-list-container {
  margin-top: 8px;
  max-height: 80%;
  position: relative;
  overflow-y: scroll;
}

.action-list {
  position: relative;
  max-height: 700px;
  overflow-y: scroll;

  .flag {
    position: absolute;
    right: 80px;
  }

  .flagged {
    background-color: rgba(200,57,43,0.5) !important;

    .flag {
      color: red;
    }
  }

  .fade {
    .text-area {
      color: #FFFFFF;
    }
  }

  .action-list-item {
    height: 50px;
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    padding: 16px 16px 20px 16px;

    .slider {
      width: 2px;
      height: 100%;
      position: absolute;
      left: 100%;
      margin-left: -2px;
      top: 0;
      background: #090;
      animation-name: slider;
      animation-duration: 3s;
      animation-timing-function: linear;
    }

    .active {
      background-color: #fafafa;
    }

    .text-area {
      font-family: Open Sans, sans-serif;
      padding-left: 5px;

      .action-est-time {
        float: right;
      }

      h1 {
        font-size: 110%;
        float: left;
        color: #000000;
        opacity: .87;
        line-height: 28px;
      }

      span {
        font-size: 100%;
        color: #000000;
        opacity: .54;
      }
    }
  }

  .action-list-item.selected {
    height: 110px;
    background-color: #FFF;

    .action-title, .action-est-time {
      float: none;
    }
  }

  .action-list-item.done {
    height: 0;
    padding: 0;
  }
}

$caption-height: 48px;
$grid-padding: 4px;
.preset-list {
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgb(0, 153, 0);
  padding-top: 8px;
  height: auto;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.35);

  .list-header {
    color: white;
  }

  .preset-list-item div {
    padding-left: $grid-padding !important;
    padding-right: $grid-padding !important;

    .preset-figure {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 120px;
      margin-bottom: 2 * $grid-padding;

      img {
        position: absolute;
        margin: auto;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        width: 100%;
        height: 100%;
      }
    }

    .unlink-overlay {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
      width: 100%;
      height: 100%;
      opacity: 0;

      &:hover {
        opacity: 1;
      }

      .unlink-button {
        top: 10px;
        right: 10px;
        position: absolute;
        cursor: pointer;

        i {
          color: white;
          font-size: 2em;
        }
      }
    }

    figcaption {
      position: absolute;
      top: 0;
      width: 100%;
      height: $caption-height;
      margin-bottom: -$caption-height;
      z-index: 1;

      h1 {
        font-size: 100%;
        color: #ffffff;
        opacity: .87;
        line-height: $caption-height;
        padding: 0 16px;
      }
    }

    figcaption::before {
      content:"";
      position: absolute;
      top:0;
      left: 0;
      right: 2 * $grid-padding;
      height: $caption-height;
      background-color: rgba(0,0,0,0.4);
    }
  }
}

.unlinked-presets-container {
  max-height: 80%;
  position: relative;
  overflow-y: scroll;
}

.unlinked-presets-list {
  position: relative;
  max-height: 700px;
  overflow-y: scroll;

  .unlinked-preset-item {
    height: 60px;
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    padding: 16px 16px 20px 16px;

    &.hidden {
      display: none;
    }

    .preset-description {
      visibility: hidden;
    }

    &.active {
      background-color: #fafafa;
      height: auto;

      .preset-description {
        visibility: visible;
      }
    }

    .unlinked-preset-left {
      float: left;
    }

    .camera-select-container {
      margin-top: 10px;

      button {
        margin-top: 10px;
      }
    }

    .text-area {
      font-family: Open Sans, sans-serif;
      padding-left: 5px;

      .action-est-time {
        float: right;
      }

      h1 {
        font-size: 110%;
        color: #000000;
        opacity: .87;
        line-height: 28px;
      }

      span {
        font-size: 100%;
        color: #000000;
        opacity: .54;
      }
    }
  }
}


.camera-list {
  padding-left: 0;
  padding-right: 0;
  background-color: rgb(0,153,0);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.35);

  .main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .next {
    width: 50%;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
  }

  .main-camera-list-item {
    padding-left: 0;
    padding-right: 0;

    .main-camera-figure {
      width: 100%;
      border: 3px solid red;
    }
  }

  .camera-list-item {
    padding-left: 2 * $grid-padding;
    padding-right: 2 * $grid-padding;

    .camera-figure {
      padding-bottom: 2 * $grid-padding;
      margin: 0;
    }
  }
}

#dock-container {
  width: 100%;
  position: fixed;
  bottom: 0;

  #dock-top {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
    height: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,0.35);
  }

  #dock {
    background-color: #f5f5f5;
    height: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,0.35);
  }

  #timeline {
    height: 20px;
    background: #009900;
    top: 15px;
    width: 100%;
    position: relative;

    .action {
      height: 20px;
      float: left;
      width: 20px;
      position: relative;
    }

    @keyframes slider {
      0% {left: 0}
      100% {left: 100%}
    }

    .slider {
      width: 2px;
      height: 20px;
      position: absolute;
      left: 100%;
      margin-left: -2px;
      background: white;
      animation-name: slider;
      animation-duration: 3s;
      animation-timing-function: linear;
    }
  }
}

.shadow{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.35);

  pointer-events: none;
}

.cameras {
  margin-bottom: 20px;

  label {
    margin-left: 15px;
  }

  #toggle-camera-list {
    margin-left: -.9375rem;
    margin-bottom: 15px;
  }
}