.editable-list {
  position: relative;
  max-height: 700px;
  overflow-y: scroll;
  padding-top: 20px;

  .hoverable {
    border-bottom: 5px solid #5BC0DE;
  }

  .flagged {
    background-color: rgba(200,57,43,0.5) !important;
  }

  .editable-list-item {
    background-color: #FFF;
    height: auto;
    overflow: hidden;
    width: 100%; // 95% for side plus (manual add)

    .flag {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
    }

    .active-item {
      display: initial;
    }
    .inactive-item {
      display: none;
    }

    .active {
      background-color: #fafafa;
    }

    table {
      width: 100%;

      td {
        width: 50%;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    .edit-buttons {
      margin-top: 10px;
      float: right;

      li {
        float: left;
        margin-left: 10px;
      }
    }

    .text-area {

      .text-area-header {
        font-size: 110%;
        float: none;
        color: #000000;
        opacity: .87;
        line-height: 28px;
      }

      .text-area-detail {
        font-size: 100%;
        color: #000000;
        opacity: .54;
      }
    }

    .addnew {
      position: absolute;
      left: 100%;
      width: 5%;
      margin-top: -8px;
      cursor: pointer;
    }
  }
}

.list-header input {
  line-height: 60px;
  padding: 6px;
  font-size: 2rem;
  margin-bottom: 8px;
}