html {
  min-height: 100%;
  position:relative;
}
body {
  background-color: #fafafa;
  font-family: Open Sans;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

h1 {
  font-family: Open Sans;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

span {
  font-size: 16px;
}

.nopadding {
  padding:0!important;
}

.navbar {
  margin-bottom: 20px;
  background: #009900;
  border-radius: 0;

  ul.navbar-nav li {
    padding: 5px 5px;
  }

  a {
    color: white;
  }
}

/** Removes navbar disabling bootstrap**/
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.md-button {
  color : currentColor;
}
.md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
}
.md-button[disabled] {
  color : rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

.connection-lost {
  background-color: #005d00;
  color: white;
  text-align: center;
  padding: 5px;
  margin-top:-20px; /** Due to navbar **/
}

.screen-height {
  height: 100%;
}

.no-activescript {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.95);
  .no-activescript-inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 600px;
    text-align: center;

    #icon {
      font-size: 160px;
      color: #ff8080;
    }

    p {
      font-size: 20px;
    }
  }
}

.indent-list {
  position: relative;

  .indent-list-item {
    height: 50px;
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    padding: 16px 16px 20px 16px;
  }

  .text-area {
    font-family: Open Sans, sans-serif;
    padding-left: 5px;

    .right {
      float: right;
    }

    h1 {
      font-size: 110%;
      float: left;
      color: #000000;
      opacity: .87;
      line-height: 28px;
    }

    span {
      font-size: 100%;
      color: #000000;
      opacity: .54;
    }
  }

  .indent-list-item.selected {
    height: 110px;
    background-color: #FFF;
  }



}

#cameras-list {
  margin-top: 10px;

  li {
    vertical-align: middle;

    .material-icons {
      font-size: 25px;
      margin-right: 30px;
    }

    button {
      float: right;
    }

  }
}

.label-offset {
  width: 250px;
}
