body {
  background-color: #fafafa;
  font-family: Open Sans;
}

h1 {
  font-family: Open Sans;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

span {
  font-size: 16px;
}

.nopadding {
  padding:0!important;
}

.navbar {
  margin-bottom: 20px;
  background: #009900;
  border-radius: 0;

  a.nav-link {
    color: white;
  }
}
.md-button {
  color : currentColor;
}
.md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
}
.md-button[disabled] {
  color : rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

.connection-lost {
  background-color: #009900;
  color: white;
  text-align: center;
  padding: 5px;
}

.screen-height {
  height: 100%;
}

.no-activescript {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.95);
  .no-activescript-inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 600px;
    text-align: center;

    #icon {
      font-size: 160px;
      color: #ff8080;
    }

    p {
      font-size: 20px;
    }
  }
}