.script-list {

  .list-group-item {
    background-color: rgba(63, 63, 63, 0.3);
  }
  .active {
    background-color: #090 !important;
  }

  a {
    &:hover {
      text-decoration: none !important;
    }

    i.material-icons {
      color: white;
      cursor: pointer;

      &.disabled {
        color: #666;
        cursor: not-allowed;
      }
    }
  }
}