.script-list {

  .list-group-item {
    background-color: rgba(63, 63, 63, 0.3);
  }
  .active {
    background-color: #009900 !important;
    color: white;
  }

  a {
    &:hover {
      text-decoration: none !important;
    }

    i.material-icons {
      color: white;
      cursor: pointer;

      &.disabled {
        color: #666;
        cursor: not-allowed;
      }

      &.highlight {
        color: #900;
      }

      &.ready {
        color: #090;
      }
    }
  }
}