.script-list {

  .list-group-item {
    background-color: rgba(63, 63, 63, 0.3);
  }
  .active {
    background-color: #090 !important;
  }

  a i.material-icons {
    color: white;
    cursor: pointer;
  }
}