@(title: String)(id: Long)

@index(title) {
  <edit [scriptid]="@id"></edit>

  <script>    @* javascript is async downloaded by SystemJs *@
            System.config({
                packages: {
                    '../assets/app': {
                        defaultExtension: 'js'
                    },
                    '../assets/app/api': {
                        defaultExtension: 'js'
                    },
                    '../assets/lib': {
                        defaultExtension: 'js'
                    }
                },
                paths: {
                  'dragula': 'assets/lib/dragula/dist/dragula.js',
                  'ng2-dragula/*': 'assets/lib/ng2-dragula/ng2-dragula.js'
                }
            });
        System.import('../assets/app/edit')
                .then(null, console.error.bind(console));
    </script>
}