@(title: String)(id: Long)

@index(title) {
  <edit [scriptid]="@id"></edit>

  <script>    @* javascript is async downloaded by SystemJs *@
            System.config({
                packages: {
                    '../assets/app': {
                        defaultExtension: 'js'
                    },
                    '../assets/app/api': {
                        defaultExtension: 'js'
                    },
                    '../assets/lib': {
                        defaultExtension: 'js'
                    }
                }
            });
        System.import('../assets/app/edit')
                .then(null, console.error.bind(console));
    </script>
}