@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
@header(name = "test")
<body>
    <ul class="list-inline col-md-12">
        <li class="col-md-4"><a href="/manage" class="btn btn-primary btn-lg" role="button">Script creation tool</a></li>
        <li class="col-md-4"><a href="/running" class="btn btn-primary btn-lg" role="button">Camera operator running mode</a></li>
        <li class="col-md-4"><a href="#" class="btn btn-primary btn-lg" role="button">Director running mode</a></li>
    </ul>

    <script>    @* javascript is async downloaded by SystemJs *@
                System.config({
                    packages: {
                        'assets/app': {
                            defaultExtension: 'js'
                        },
                        'assets/lib': {
                            defaultExtension: 'js'
                        }
                    }
                });
            System.import('assets/app/running')
                    .then(null, console.error.bind(console));
		</script>
</body>
</html>